#cart {
    display: flex;
}

.cartItemCard {
    border: solid 4px black;
    width: 1400px;
    margin-left: 30px;
    margin-top: 20px;
}

.cartDetailContainer {
    display: flex;
    flex-direction: row;
}

.cartDetailContainer > img {
    height: 250px;
    width: 200px;
}

.cartDetailText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
}