
/* LOGIN PAGE STYLING */


.login-form {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    margin: 75px;
    background: rgba(34, 214, 255, 0.383);
    box-sizing: border-box;
    border-radius: 50px; 
    padding: 20px;
}

.login-form > button {
    background-color: black;
}

.login-form > button:hover {
    background: rgb(34, 214, 255);
}

.login-form > input {
    width: 200px;
}

/* REGISTER FORM STYLING */


.register-form {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    margin: 50px;
    background: rgba(34, 214, 255, 0.383);
    box-sizing: border-box;
    border-radius: 50px; 
    padding: 20px;
}

.register-form > button {
    background-color: black;
}

.register-form > button:hover {
    background: rgb(34, 214, 255);
}

.register-form > input {
    width: 200px;
}

/* ACCOUNT PAGE STYLING */


div.Account {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    margin: 50px;
    background: rgba(34, 214, 255, 0.383);
    box-sizing: border-box;
    border-radius: 50px; 
    padding: 20px;
}

div.Account > div > button {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 50px;
}

div.Account > div > button:hover{
    background: rgb(34, 214, 255);
}

div.please-login {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    color: black;
}