* {
  font-family: sans-serif;
}

body {
  background-color: white;
  margin: 0;
  padding: 0;
  color: rgb(0, 21, 69);
}

#root {
  padding-top: 85px;
}

/* NAV BAR STYLING */

nav {
  height: 70px;
  width: 100%;
  background: rgb(34, 214, 255);
  display: grid;
  grid-template-columns: [first] 25% [line2] 50% [line3] 25%;
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
  /* padding: 0 15px; */
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 3px 3px 3px rgb(220, 220, 220);
}

.navLinks {
  display: flex;
  justify-content: right;
  align-items: center;
  margin-right: 10px;
}

.logo {
  display: flex;
  justify-content: center;
}

.logo > img {
  max-height: 70px;
}

.userLogo > a {
  color: darkblue;
}

.cartLogo {
  padding-left: 10px;
}
