/* PRODUCT PAGE STYLING */

.productPageContainer {
  /* background: blue; */
  display: flex;
  min-height: 800px;
}

.productListContainer {
  /* background-color: aliceblue; */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.leftMenu {
  background: sienna;
  /* width: 200px; */
  min-width: 10%;
}

.productContainer {
  background: white;
  width: 300px;
  height: 500px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid rgb(198, 198, 198);
  border-radius: 8px;
  padding: 5px;
  padding-bottom: 15px;
}

.productContainer:hover {
  border: 1px solid rgb(92, 0, 98);
}

.productContainer > h2 {
  font-size: 18px;
}

.link {
  text-decoration: none;
  color: black;
}

.productContainer > h3 {
  font-weight: normal;
  color: gray;
  font-size: 14px;
}

.productContainer > img {
  max-width: 250px;
  max-height: 300px;
  border-radius: 6px;
}

.price {
  color: green;
}

.productDetailContainer {
  background: white;
  width: 80%;
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: black;
  padding: 8px;
  padding-bottom: 15px;
}

.productDetailContainer > p {
  color: rgb(103, 103, 103);
}

.productDetailContainer > img {
  max-height: 650px;
}

.singleProductPageContainer {
  /* background: blue; */
  display: flex;
  min-height: 800px;
  align-items: center;
  justify-content: center;
}

/* BUTTON STYLING */

button {
  border: none;
  background: rgb(144, 144, 144);
  color: white;
  margin: 10px;
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
  font-size: 18px;
}

.cartButton {
  background-color: rgb(68, 0, 123);
}

/* SEARCH BAR STYLING */

.searchContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 15px;
}

.searchBar {
  display: flex;
  width: 400px;
  border: 2px solid rgb(34, 214, 255);

  border-radius: 8px;
  align-items: center;
  padding: 8px;
}

.searchBar:hover {
  border: 2px solid rgb(23, 179, 215);
}

.searchBar > input {
  width: 300px;
  /* border: 2px solid rgb(0, 21, 69); */
  border: none;
  border-radius: 9px;
  height: 30px;
  padding-left: 10px;
  font-size: 18px;
}

.searchBar > input:focus {
  outline: none;
}

.searchIcon {
  color: rgb(34, 214, 255);
}
